* {
   box-sizing: border-box;
}

main {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.player-div {
   display: grid;
   grid-template-columns: 1fr;
   justify-items: center;
}

.cell {
   width: 50px;
   height: 50px;
   border: 1px solid black;
}

.cell:hover {
   background-color: aqua;
}

.cell.has-ship {
   border: 1px solid blue;
   background-color: blue;
}

.cell.miss {
   background-color: gray;

}

.cell.hit {
   background-color: red;
}

.board {
   display: grid;
   grid-template-columns: repeat(10, 1fr);
   max-width: fit-content;
}

.disabled {
   pointer-events: none;
}

