* {
   box-sizing: border-box;
}

main {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 100px;
}

.player-div {
   display: grid;
   grid-template-columns: 1fr;
   justify-items: center;
}

.player-div.menu-div {
   display: flex;
}

.menu-button {
   width: 100px;
   height: 50px;
}

.cell {
   width: 50px;
   height: 50px;
   border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.column-letter {
   position: absolute;
   top: -30px;
}

.row-digit {
   position: absolute;
   left: -30px;
}

.cell:hover {
   background-color: aqua;
}

.cell.occupied {
   background-color: brown;
}

.cell.has-ship {
   border: 1px solid blue;
   background-color: blue;
}

.cell.miss {
   background-color: gray;

}

.cell.hit {
   background-color: red;
}

.cell.sunk {
   color: rgb(255, 232, 232);
   font-size: 2rem;
}

.board {
   display: grid;
   grid-template-columns: repeat(10, 1fr);
   max-width: fit-content;
}

.disabled, .miss, .hit {
   pointer-events: none;
}

